{% extends "base.html" %}

{% block title %}W&D Energía - Proyectos{% endblock %}

{% block content %}
<main class="container">
    <h1 class="main-title">Proyectos Energéticos</h1>

    <section class="projects-grid">  
        <div class="card-ingenieria">
            <h2>Instalaciones Eléctricas</h2>    
            <img src="{{ url_for('static', filename='images/Instalaciones_electricas.jpg') }}" alt="Eléctrico"> 
            
            <p class="attribution-link">
                <a href="https://www.magnific.com/es/foto-gratis/hombre-tecnico-electrico-trabajando-central-electrica-fusibles_32646468.htm" target="_blank">Imagen de pvproductions en Magnific</a>
            </p> 
            
            <p>Diseñamos, ejecutamos y optimizamos instalaciones eléctricas para entornos industriales, comerciales y 
                residenciales, garantizando seguridad, eficiencia energética y cumplimiento de la normatividad vigente</p>                  
        </div>

        <div class="card-ingenieria">
            <h2>Mantenimiento de Tableros</h2>
            <img src="{{ url_for('static', filename='images/Mantenimiento_Tableros.jpg') }}" alt="Energía">
            <p class="attribution-link">
                <a href="https://www.magnific.com/es/foto-gratis/joven-electricista-adulto-ingeniero-civil-atornillando-equipos-caja-fusibles_174141579.htm">Imagen de pvproductions en Magnific</a>
            </p> 
            <p>Realizamos mantenimiento preventivo y correctivo de tableros eléctricos, inspeccionando sus componentes, 
                conexiones y sistemas de protección para asegurar un funcionamiento seguro y continuo. Mediante pruebas técnicas especializadas, 
                contribuimos a minimizar fallas, prolongar la vida útil de los equipos y optimizar el desempeño de las instalaciones</p> 
        </div>
    </section>
</main>
{% endblock %}