{% extends "base.html" %}
{% block title %}W&D - Ingeniería{% endblock %}
{% block content %}
<main class="container">
    <h1 class="main-title">Proyectos De Ingeniería</h1>
    <section class="projects-grid">
        <div class="card-ingenieria">
            <h2>Logística y Cargas Críticas</h2>
            <p>Optimizamos cada movimiento con precisión y control</p>
            <img src="{{ url_for('static', filename='images/ingenieria001.jpg') }}" alt="Ingeniería">
            <p> - Nos especializamos en el posicionamiento 
                de equipos para montaje industrial mediante sistemas de gateo y desplazamiento, integrando planificación 
                técnica detallada y ejecución segura en maniobras de alta complejidad.
                <br>
                - Reducimos tiempos operativos, mitigamos riesgos críticos y garantizamos el cumplimiento 
                normativo en cada fase del proceso, asegurando eficiencia, confiabilidad y resultados de alto nivel para su operación.</p>
        </div>
        <div class="card-ingenieria">
            <h2>Interventoría Especializada</h2>
            <p>Interventoría a obras civiles y bases de precisión.</p>
            <img src="{{ url_for('static', filename='images/interventoria001.jpg') }}" alt="Interventoría">
            <p>Supervisamos y controlamos cada etapa constructiva, asegurando el cumplimiento de especificaciones técnicas, 
                tolerancias de precisión y normativas aplicables. Garantizamos calidad estructural, correcta ejecución y confiabilidad</p>
        </div>
        <div class="card-ingenieria">
            <h2>Expertos en Maniobras de Izaje y Montaje Pesado</h2>
            <p>seguridad y control en cada maniobra</p>
            <img src="{{ url_for('static', filename='images/izajes001.jpg') }}" alt="Interventoría">
            <p>Especialistas Ejecutando montajes industriales y posicionamientos de equipos pesados 
                con grúas telescópicas y personal certificado. Garantizamos planificación técnica, superficies 
                seguras y colocación precisa en cada etapa del proceso</p>

        </div>
        <div class="card-ingenieria">
            <h2>Ingeniería de Proyectos: Cimientos Sólidos para la Construcción</h2>
            <img src="{{ url_for('static', filename='images/ingenieros.jpg') }}" alt="Interventoría">
            <p>Ofrecemos gestión integral de proyectos de ingeniería, desde estudios de viabilidad y planificación hasta la ejecución y puesta en marcha, asegurando el control técnico, cumplimiento de plazos y altos estándares de calidad en cada fase del desarrollo.</p>
        </div>                
    </section>
</main>
{% endblock %}