{% extends "base.html" %}
{% block title %}W&D - Mecánica{% endblock %}
{% block content %}
<main class="container">
    <h1 class="main-title">Proyectos De Mecánica</h1>
    <section class="projects-grid">
        <div class="card-ingenieria">
            <h2>Troquelería Pesada</h2>
            <img src="{{ url_for('static', filename='images/mecanica_1.jpg') }}" alt="Mecánica">
            <p>Ensamblaje y mantenimiento de componentes mecánicos para industria pesada.</p>
        </div>
        <div class="card-ingenieria">
            <h2>Eficiencia Energética</h2>
            <img src="{{ url_for('static', filename='images/mecanica_4.png') }}" alt="Turbomaquinaria">
            <p>Mantenimiento mayor (overhaul) de turbinas y compresores industriales.</p>
        </div>
    </section>
</main>
{% endblock %}