{% extends "base.html" %}
{% block title %}W&D - Mecánica{% endblock %}
{% block content %}
<main class="container">
    <h1 class="main-title">Proyectos De Mecánica</h1>
    <section class="projects-grid">
        <div class="card-ingenieria">
            <h2>Mantenimiento Industrial</h2>
            <img src="{{ url_for('static', filename='images/mecanica.jpg') }}" alt="Mecánica">
            <p>Ensamble, ajuste y mantenimiento especializado de sistemas de troquelado para la 
                industria pesada, garantizando precisión operativa, confiabilidad y prolongación de la vida útil de los equipos</p>
        </div>
        <div class="card-ingenieria">
            <h2>Optimización Energética</h2>
            <img src="{{ url_for('static', filename='images/mecanica_1.jpeg') }}" alt="Turbomaquinaria">
            <p>Optimización del rendimiento energético mediante mantenimiento correctivo y preventivo de
                 componentes críticos, reduciendo pérdidas mecánicas y mejorando la eficiencia operativa</p>
        </div>
        <div class="card-ingenieria">
            <h2>Equipos Rotativos</h2>
            <img src="{{ url_for('static', filename='images/mecanica_2.jpeg') }}" alt="Turbomaquinaria">
            <p>Diagnóstico técnico, recuperación y reacondicionamiento de componentes industriales,
                 enfocados en mejorar el consumo energético y la confiabilidad de los sistemas</p>
        </div>        
        <div class="card-ingenieria">
            <h2>Ingeniería Mecánica</h2>
            <img src="{{ url_for('static', filename='images/mecanica_3.png') }}" alt="Turbomaquinaria">
            <p>Intervención integral de rotores y equipos rotativos, incluyendo inspección, 
                balanceo y ajuste, orientados a maximizar la eficiencia energética y el desempeño industrial</p>
        </div>     
        <div class="card-ingenieria">
            <h2>Overhaul de Turbinas</h2>
            <img src="{{ url_for('static', filename='images/mecanica_4.jpeg') }}" alt="Turbomaquinaria">
            <p>Servicio especializado en turbinas y compresores industriales, enfocado en optimización 
                energética, reducción de fallas y aumento de la productividad operativa</p>
        </div>        



    </section>
</main>
{% endblock %}