{% extends "base.html" %}

{% block title %}W&D - Metalmecánica{% endblock %}

{% block content %}
<main class="container">
    <h1 class="main-title">Proyectos Metalmecánicos</h1>

    <section class="projects-grid">  


        <div class="card-ingenieria">
            <h2>Soldadura en Posición 6G</h2>
            <img src="{{ url_for('static', filename='images/Posicion_6G.jpeg') }}" alt="Soldadura Industrial">
            <p>Especialistas en soldadura en posición 6G para tuberías y componentes ejecutando procesos con precisión,
                  Garantizamos uniones de máxima calidad, resistencia y confiabilidad, asegurando la integridad estructural y el cumplimiento de los estándares exigidos por la industria.
            </p>
        </div>

        <div class="card-ingenieria">
            <h2>Calidad SMAW Superior</h2>
            <img src="{{ url_for('static', filename='images/SMAW.jpeg') }}" alt="Soldadura 6G">
            <p>Dominamos los procesos de soldadura SMAW (Shielded Metal Arc Welding) con electrodo revestido,
                 aplicando técnicas especializadas que garantizan uniones resistentes, seguras y de alta durabilidad. 
                 Nuestro compromiso con la calidad permite obtener acabados uniformes y resultados confiables, adaptados 
                 a las exigencias de los entornos industriales más demandantes</p>
        </div>
    </section>
</main>
{% endblock %}+